@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  /* -ms-overflow-style: none;
  scrollbar-width: none; */
  scroll-behavior: smooth;
}

body {
  background-color: white;
}

input:focus {
  outline: none;
}

input {
  outline: none;
}

html {
  touch-action: manipulation;
  -ms-touch-action: manipulation;
  zoom: 1;
  -ms-content-zooming: none;
}

::-webkit-scrollbar {
  width: 0.001px;
  height: 0.001px;
}